{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %} 
<div class="container-fluid">
  <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
          <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
              <a href="" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                  <h1 class=" d-none d-sm-inline mt-5 deshboard_id border-bottom pb-5">Dashboard</h1>
              </a>
              <ul class="nav nav-pills text-white flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                 
                  <li>
                      <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                        <a href="{% url 'myprofilepage' %}" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <h3 class=" d-none d-sm-inline deshboard_id">My Profile</h3></a></a>
                      </ul>
                  </li>
                  
                  <li><a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                      <a href="{% url 'myearningpage' %}" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                  <h3 class=" d-none d-sm-inline deshboard_id">My Earning</h3></a></a>
                  </li>
                  <li>
                      <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                          <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline text-white"><h3>My Team</h3></span> </a>
                          <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                          <li>
                              <a href="{% url 'structurepage' %}" class="nav-link px-0"> <span class="d-none d-sm-inline text-white"><h5>Structure</h5></span></a>
                          </li>
                          <li>
                              <a href="{% url 'generationspage' %}" class="nav-link px-0"> <span class="d-none d-sm-inline text-white"><h5>Generations</h5></span></a>
                          </li>
                          <li>
                              <a href="{% url 'refferallinkpage' %}" class="nav-link px-0"> <span class="d-none d-sm-inline text-white"><h5>Refferal</h5></span></a>
                          </li>
                      </ul>
                  </li>
                  <li>
                      <a href="#submenu4" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                          <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline text-white"><h3>Our Service</h3></span></a>
                      <ul class="collapse nav flex-column ms-1" id="submenu4" data-bs-parent="#menu">
                          <li class="w-100">
                              <a href="{% url 'shoppinghistorypage' %}" class="nav-link px-0"> <span class="d-none d-sm-inline text-white"><h5>View Ticket</h5></span> </a>
                          </li>
                          <li>
                              <a href="{% url 'packagepage' %}" class="nav-link px-0"> <span class="d-none d-sm-inline text-white"><h5>Buy Ticket</h5></span> </a>
                          </li>
                      </ul>
                  </li>
                  <li>
                      <a href="#submenu5" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                          <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline text-white"><h3>Wallet</h3></span></a>
                      <ul class="collapse nav flex-column ms-1" id="submenu5" data-bs-parent="#menu">
                          <li class="w-100">
                              <a href="" class="nav-link px-0"> <span class="d-none d-sm-inline text-white"><h5>Deposite</h5></span> </a>
                          </li>
                          <li>
                              <a href="" class="nav-link px-0"> <span class="d-none d-sm-inline text-white"><h5>Withdraw</h5></span> </a>
                          </li>
                          <li>
                              <a href="" class="nav-link px-0"> <span class="d-none d-sm-inline text-white"><h5>P2P Transfer</h5></span> </a>
                          </li>
                      </ul>
                  </li>
                  <li>
                      <a href="#submenu6" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                          <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline text-white"><h3> Leaderboard</h3></span></a>
                      <ul class="collapse nav flex-column ms-1" id="submenu6" data-bs-parent="#menu">
                          <li class="w-100">
                              <a href="" class="nav-link px-0"> <span class="d-none d-sm-inline text-white"><h5>Top Seller</h5></span> </a>
                          </li>
                      </ul> 
                  </li>
              </ul> 
              <hr> 
              <div class="dropdown pb-4">
                  <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                      <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                      <span class="d-none d-sm-inline mx-1">loser</span>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                      <li><a class="dropdown-item" href="#">New project...</a></li>
                      <li><a class="dropdown-item" href="#">Settings</a></li>
                      <li><a class="dropdown-item" href="#">Profile</a></li>
                      <li>
                          <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="#">Sign out</a></li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="col py-3">
          {% block Deshboard %}

          {% endblock Deshboard %}
      </div>
  </div>
</div>

      
{% endblock content %}

 




