{% extends "base.html" %}
{% block content %}

{% if messages %} 
{% for i in messages %}
<h4>{{i}}</h4>
{% endfor %} {% endif %}




<h1>User Purches History</h1>
    <table class=" text-center">
        <thead>
            <tr>
                <th>Package ID</th>
                <th>Package Name</th>
                <th>Username</th>
                <th>Ticket Number</th>
                <th>Ticket Price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in shopping_data %}
            <tr>
                <td>{{ item.package.id }}</td>
                <td>{{ item.package.name }}</td>
                <td>{{ item.user.username }}</td>
                <td>{{ item.ticket_number }}</td>
                <td>{{ item.ticket_price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock content %}


