{% extends "profile.html" %}
{% load static %}
{% block Deshboard %}
  

<div class="p-4 pt-4 d-flex gap-3">
    <div class="card w-100 col-7">
        <table class="table">
            <thead>
              <tr>
                <th scope="col" class=" p-4 personaldatials">My Earning</th>
                <div>                 
                  <div class="col-5 p-3 ">
                    <div class=" px-5 pt-4">
                      <div class=" px-4">
                        <div class=" d-flex gap-5 p-4">
                          <h3 class="dottedb "><span class=" ">$  10000 <br></span>Total Balance </h3>
                          <h3 class="dottedbe"><span class=" ">$  4000 <br></span>Available Balance</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"><a href="">Jackpot Fund</a></th>
              </tr>
              <tr>
                <th scope="row"><a href="">Refferal Commision</a></th>
              </tr>
              <tr>
                <th scope="row"><a href="">Leader Commision</a></th>
                <tr>
                    <th scope="row"><a href="">Founder Commision</a></th>
                  </tr>
               
            </tbody>
          </table>
      </div>

      
</div>


{% endblock Deshboard %}
